$bcg-color-dark: #111111;
$bcg-color-light: white;
$yellow-bcg-color: #FFB400;
$btn-bcg-dark: #4b4b4b;
$btn-bcg-light: white;
$btn-text-light: #666666;
$btn-text-dark: #DDDDDD;
$active-btn-text: white;
$active-btn-bcg: #FFB400;
$nav-bcg-dark: #2c2c2c;
$nav-bcg-light: #F4F4F4;